<%= form_with(model: alievent, local: true) do |form| %>

  <%if alievent.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <%= alievent.errors.full_messages.first %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Full Name' %>
    <%= form.text_field :name, class: 'form-control', autofocus: true, placeholder: 'First Middle Surname',:required => 'required'%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'example@email.com',:required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :number, 'Whatsapp Number' %>
    <%= form.text_field :number, class: 'form-control', placeholder: '10-digit Number', :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :company,'College/Company' %>
    <%= form.text_field :company, class: 'form-control', placeholder: 'College/Company Name' %>
  </div>

  <div class="field">
    <%= form.label :branch, 'Branch (Only for Students/Faculty)'%>
    <%= form.text_field :branch, class: 'form-control', placeholder: 'Elex/CS/IT/Mech/Other' %>
  </div>

  <div class="field">
    <%= form.label :suggestions %>
    <%= form.text_field :suggestions, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Form',class: 'btn btn-success' %>
  </div>
<% end %>
