<p id="notice"><%= notice %></p>

<h1>Registered Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Button</th>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Company</th>
      <th>Branch</th>
      <th>Suggestions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @alievents.each do |alievent| %>
      <tr>
        <td><%= alievent.id %></td>
        <td><%= button_to 'Send WhatsApp', "https://wa.me/919855947497/?text=Dear%20#{alievent.name}%2C%20%0D%0A%0D%0A%2A%23LearnCloudWithMe%2A%0D%0A%F0%9F%93%8C%20%2AFree%20Cloud%20Computing%20Webinar%2A%0D%0AGreetings%20from%20%2ADepartment%20of%20Electronics%20Engineering%2C%20Datta%20Meghe%20College%20of%20Engineering%2C%20Airoli%2C%20Navi%20Mumbai.%2A%0D%0A%0D%0A%2ADepartment%20of%20Electronics%2A%20%26%20%2AElectronic%20Technocrat%2A%20Presents%20Free%20Webinar%20on%20%2A%22Start%20your%20Cloud%20Journey%20-%20Know%20the%20steps.%22%2A%0D%0A%0D%0A%F0%9F%9F%A2%20%2ASpeaker%3A-%20Mr.%20Chirag%20Nayyar.%2A%0D%0A%0D%0A%F0%9F%9F%A2%20%2AAbout%20the%20Speaker%3A%2A%0D%0AHe%20is%20a%20%2ACloud%20Enabler%2A%20and%20an%20%2Aamazing%20influencer%2A%20who%20has%20guided%20over%20thousands%20of%20people%20to%20start%20their%20cloud%20journey%2C%20with%20%2Acertification%20in%205%20major%20cloud%20platforms.%2A%0D%0A%0D%0A%F0%9F%9F%A2%20%2ABenefits%3A%2A%0D%0AYou%20will%20get%20to%20know%20about%20the%20career%20opportunities%20in%20cloud%2C%20freshers%20will%20get%20an%20idea%20to%20start%20their%20learning%20journey%20also%20before%20digging%20deeper%20into%20the%20cloud%2C%20what%20you%20need%20to%20know%20will%20be%20briefly%20explained%20and%20this%20will%20also%20answer%20your%20question%20regarding%20certification%20help.%0D%0A%0D%0A%F0%9F%94%B4%20E-Certificates%20will%20be%20provided%20only%20to%20the%20registered%20participants.%0D%0A%0D%0A%F0%9F%9F%A2%20%2ADetails%20of%20the%20Event%3A%2A%0D%0ARegistration%20Link%3A%20bit.ly%2Fformcncloud%0D%0ARegistration%20Cost%3A%20Free%0D%0A%0D%0A%F0%9F%97%93%EF%B8%8F%20Date%3A%20%2A13th%20June%2C%202020%2A%0D%0A%F0%9F%95%95%20Time%3A%20%2A5%3A00%20P.M.%20to%206%3A00%20P.M.%20%28IST%29%2A%0D%0A%F0%9F%92%BB%20Venue%3A%20%2AGoogle%20Meet%2A%0D%0A%0D%0ARegards%2C%0D%0A%2ADr.%20S.%20D.%20Sawarkar%2A%0D%0APrinicpal%2C%0D%0AD.M.C.E.%2C%20Airoli.%0D%0A%0D%0A%2ADr.%20D.J.%20Pete%2A%0D%0AH.o.D%2C%0D%0AElectronics%20Engineering.%0D%0A%0D%0A%F0%9F%93%9E%20For%20Queries%20Contact%2C%0D%0AStudent%20Organizer%0D%0A%2ANinad%20Ingale%3A%2A%20%2B919619170967%0D%0A%0D%0A%F0%9F%94%98%20%2AFollow%20us%20on%3A%2A%0D%0A%60%60%60Official%20WhatsApp%20Group%3A%60%60%60%20bit.ly%2Fwhatsappelectronictechnocrat%0D%0A%60%60%60YouTube%3A%60%60%60%20bit.ly%2Fyoutubeelectronictechnocrat" , form: {target: '_blank'} %></td> 
        <td><%= alievent.name %></td>
        <td><%= alievent.email %></td>
        <td><%= alievent.number %></td>
        <td><%= alievent.company %></td>
        <td><%= alievent.branch %></td>
        <td><%= alievent.suggestions %></td>
        <!--<td><%= link_to 'Show', alievent %></td>-->
        <td><%= link_to 'Edit', edit_alievent_path(alievent) %></td>
        <td><%= link_to 'Destroy', alievent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create User', new_alievent_path %>
