<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>WhatsApp</th>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Profession</th>
      <th>College</th>
      <th>Branch</th>
      <th>Suggestions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wdtmzs.each_with_index do |wdtmz,i| %>
      <tr>
        <td><%= i+1 %></td>
	<td><%= button_to 'Send WhatsApp', "https://wa.me/91#{wdtmz.number}/?text=Dear+#{wdtmz.title}+#{wdtmz.name}%2C%0D%0A%0D%0A%2AELECTRONIC%20TECHNOCRAT%20NOTE%2A%0D%0A%20%F0%9F%93%8C%20Hello%20Everyone%20and%20Welcome%20to%20Electronic%20Technocrat%F0%9F%98%84.%20On%2013th%20June%202020%2C%20we%20had%20an%20amazingly%20informative%20session%20about%20the%20topic%20titled%20as%2C%20%22Start%20your%20Cloud%20Journey-%20Know%20the%20steps%22%20on%20Google%20Meet%20by%20Mr.%20Chirag%20Nayyar%F0%9F%98%80.%20%0D%0A%F0%9F%93%8C%20%2ADate%2A%20%3A-%2014th%20June%202020.%0D%0A%F0%9F%93%8C%20%2ATime%2A%20%3A-%208%20p.m.%0D%0A%20%F0%9F%93%8C%20%2ALink%2A%20%3A-%20https%3A%2F%2Fyoutu.be%2F22D78bfWxrM%0D%0A%F0%9F%93%8C%20%2AVenue%2A%20%3A-%20Electronic%20Technocrat%20YouTube%20Channel.%0D%0AFollow%20us%20on%3A-%0D%0A%60%60%60Youtube%60%60%60%20%3A-%20https%3A%2F%2Fbit.ly%2Fyoutubeelectronictechnocrat%0D%0A%60%60%60Official%20Whatsapp%20Group%60%60%60%20%3A-%20https%3A%2F%2Fbit.ly%2Fwhatsappelectronictechnocrat", form: {target: '_blank'} %></td>
        <td><%= wdtmz.title %></td>
        <td><%= wdtmz.name %></td>
        <td><%= wdtmz.email %></td>
        <td><%= wdtmz.number %></td>
        <td><%= wdtmz.profession %></td>
        <td><%= wdtmz.college %></td>
        <td><%= wdtmz.branch %></td>
        <td><%= wdtmz.suggestions %></td>
	<td><%= button_to 'YouTube', "https://wa.me/91#{wdtmz.number}/?text=Dear%20#{wdtmz.title}.%20#{wdtmz.name}%2C%0D%0A%0D%0ALink%3A-%20https%3A%2F%2Fyoutu.be%2FE2yqv0ntjvw%0D%0ATeaser%20Promo%20Video%20for%20the%20Webinar%20titled%20as%20%22Start%20your%20Cloud%20Journey-%20Know%20the%20steps%22%20%F0%9F%94%A5%0D%0A%0D%0AThough%20this%20is%20a%20system-generated%20message%2C%20you%20can%20reply%20to%20this%20number%20for%20any%20queries.", form: {target: '_blank'} %></td>
	<td><%= button_to 'Send Reminder',myemail_path(wdtmz.id), :onclick => "alert('Email Sent')" %></td>
        <!--<td><%= link_to 'Show', wdtmz %></td>-->
        <td><%= link_to 'Edit', edit_wdtmz_path(wdtmz) %></td>
        <td><%= link_to 'Destroy', wdtmz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Submit new response', new_wdtmz_path %>
