<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wdtmz.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wdtmz.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @wdtmz.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @wdtmz.number %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @wdtmz.profession %>
</p>

<p>
  <strong>College:</strong>
  <%= @wdtmz.college %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @wdtmz.branch %>
</p>

<p>
  <strong>Suggestions:</strong>
  <%= @wdtmz.suggestions %>
</p>

<%= link_to 'Edit', edit_wdtmz_path(@wdtmz) %> |
<%= link_to 'Back', wdtmzs_path %>
